.header {
  color: blue;
  text-align: center;
  font-size: 80px;
  font-style: italic;
  font-family: fantasy;
  background-image: url("../images/dice.jpg");
  background-size: cover;
  overflow: hidden;
  padding-top: 7%;
  padding-bottom: 8%;
  margin-left: -5%;
  margin-right: -1%;
}

.container-fluid {
  background-color: lightgrey
}
.rules {
  font-family: serif;
  font-size: 20px;
  padding-left: 15%;
}

.rules h2 {
  padding-left: 25%;
}

.players {
  font-family: serif;
  font-size: 18px;
}

.players h2 {
  text-align: center;
  font-size: 28px;
}

#score {
  text-align: center;
}

.play {
  text-align: center;
  margin-top: 5px;
  padding: 10px;
}

.console {
  display: none;
  font-family: fantasy;
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
}
